<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">


      <h5 class="centered"><%= loggedUser.fname %> <%= loggedUser.lname %></h5>

      <li class="mt">
        <a class="active" href="/profile">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="/createcourse" >
          <i class="fa fa-book"></i>
          <span>Courses</span>
        </a>

      </li>
      <li class="sub-menu hidden-sm hidden-md hidden-lg">
        <a href="/logout" >
          <i class="fa fa-book"></i>
          <span>Logout</span>
        </a>

      </li>

    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>