<!DOCTYPE html>
<html lang="en">
<head>
 <!-- include backend header partial-->
 <% include ../partials/backend/head.ejs %>
</head>

<body>

  <section id="container" >
    <!-- include backend partials for sidear and top bar-->
    <% include ../partials/backend/header.ejs %>
    <% include ../partials/backend/sidebarDashboard.ejs %>


    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Hello <%= loggedUser.fname %> <%= loggedUser.lname %></h3>
      </section><! --/wrapper -->
    </section>


    <!-- include backend footer partial-->
    <% include ../partials/backend/footer.ejs %>
  </section>

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/jquery-1.8.3.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
  <script src="assets/js/jquery.scrollTo.min.js"></script>
  <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="assets/js/jquery.sparkline.js"></script>


  <!--common script for all pages-->
  <script src="assets/js/common-scripts.js"></script>




  

</body>
</html>
