<!DOCTYPE html>
<html lang="en">
<head>
  <!-- include backend header partial-->
  <% include ../partials/backend/head.ejs %>
</head>

<body>
  <script type="text/javascript">var counter = 3;
    var limit = 20;
    //Allow the max limit of 20 options to be created dynamically
    function addInput(divName){
     if (counter == limit)  {
      alert("You have reached the limit of adding options");
    }
    else {
      var newdiv = document.createElement('div');
      newdiv.setAttribute('id', counter+1);
      newdiv.innerHTML =" <label class='col-sm-2 col-sm-2 control-label'>"+ "Option " + (counter + 1) + "</label> <div class='col-sm-10'>"+" <input type='text' class='form-control round-form' name='myInputs'><br></div> ";
      document.getElementById(divName).appendChild(newdiv);
      counter++;
    }
  }

    //Removal of options 
    function removeInput(divName){
    if (counter == 1)  {
      alert("You have reached the limit of removing options ");
    }else{
     
      var list = document.getElementById(divName);
      list.removeChild(document.getElementById(counter));
      counter--;
    }
    
  }
</script>
<section id="container" >
   <!-- include backend partials for sidear and top bar-->
   <% include ../partials/backend/header.ejs %>
   <% include ../partials/backend/sidebar.ejs %>
   <!-- main content start -->
   <section id="main-content">
   <!-- Wrapper start -->
    <section class="wrapper site-min-height">
     <h3><i class="fa fa-angle-right"></i> Create Poll for <%=selectedCourse%></h3>
     
     <!-- Poll information form -->
     <div class="row mt">
      <div class="col-lg-12">
        <div class="form-panel">
          <h4 class="mb"><i class="fa fa-angle-right"></i> Enter Poll information</h4>
          <form class="form-horizontal style-form" form action="./pollCreateAction" method="post">
            <div class="form-group">
              <label class="col-sm-2 col-sm-2 control-label">Question: </label>
              <div class="col-sm-10">
                <input type="hidden" name="selcourse" value="<%=selectedCourse%>">
                <input type="text" name="q" class="form-control">
              </div>
            </div>
            
            <div class="form-group" >
             <div id="dynamicInput">
              <div id="1">
                <label class="col-sm-2 col-sm-2 control-label">Option 1</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-form " name="myInputs"> <br>
                </div>
              </div>
              
              <div id="2">
                <label class="col-sm-2 col-sm-2 control-label">Option 2</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-form " name="myInputs"> <br>
                </div>
              </div>
              
              <div id="3">
                <label class="col-sm-2 col-sm-2 control-label">Option 3</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control round-form " name="myInputs"> <br>
                </div>
              </div>
            </div>  
            
            <div class="col-sm-10">
              <button type="button" class="btn btn-success" onClick="addInput('dynamicInput');">Add options</button>
              <button type="button" class="btn btn-danger" onClick="removeInput('dynamicInput');">Remove options</button><br><br>

            </div>
            

          </div>
          <div class="form-group">
            <div id="3">
              <label class="col-sm-2 col-sm-2 control-label">Timer:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control round-form " placeholder="seconds" name="TimerValue"> <br>
              </div>
            </div>
          </div>
          <div class="form-group">
           <div class="col-sm-10">
            <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</section><!-- wrapper end -->
</section><!-- Main content end -->

<% include ../partials/backend/footer.ejs %>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<!--script for this page-->

<script>
      //custom select box

      $(function(){
        $('select.styled').customSelect();
      });

    </script>

  </body>
  </html>
