<!DOCTYPE html>
<html lang="en">
<head>
 <!-- include backend header partial-->
 <% include ../partials/backend/head.ejs %>
</head>

<body>
  <script type="text/javascript">var counter = 3;
    var limit = 20;
    function addInput(divName){
     if (counter == limit)  {
      alert("You have reached the limit of adding Courses");
    }
    else {
      var newdiv = document.createElement('div');
      newdiv.setAttribute('id', counter+1);
      newdiv.innerHTML =" <label class='col-sm-2 col-sm-2 control-label'>"+ "Course " + (counter + 1) + "</label> <div class='col-sm-10'>"+" <input type='text' class='form-control round-form' name='myInputs'><br></div> ";
      document.getElementById(divName).appendChild(newdiv);
      counter++;
    }
  }

</script>
<section id="container" >
   <!-- include backend partials for sidear and top bar-->
   <% include ../partials/backend/header.ejs %>
   <% include ../partials/backend/sidebar.ejs %>
   <!-- main content start -->
   <section id="main-content">
   <!-- Wrapper start -->
    <section class="wrapper site-min-height">
     <h3><i class="fa fa-angle-right"></i> Select a course to create a Poll</h3>
     <div class="row mt mb">
      <div class="col-md-12">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"><h5><i class="fa fa-tasks"></i> Course List</h5></div>
            <br>
          </div>

          
          
          <div class="panel-body">
            <div class="task-content">
              <!-- List of courses created-->
              <ul id="sortable" class="task-list">
               <% if(clist[0]!=undefined){ for(var i=0; i<clist[0].courses.length; i++) { %>
               <form class="form-horizontal style-form" form action="./pollmain" method="post">
                <li class="list-primary">
                 
                  <div class="task-title">
                   
                   
                    <input type="hidden" value="<%=clist[0].courses[i].ctext %>" name ="selcourse">

                    <button type="submit" value="Submit" class="btn btn-default btn-lg btn-block"><%=clist[0].courses[i].ctext%></button>
                    <br>
                    
                  </div>

                  
                </li>
              </form> 
              <%} %>
              <br><br>
              <!-- add more courses -->
              <form class="form-horizontal style-form" form action="./courseCreateAction" method="post">

                <label class="col-sm-2 col-sm-2 control-label">Course Name</label>
                <div class="col-sm-10">
                 <input type='text' class='form-control round-form' name='myInputs'><br>
               </div>
               
               <div class="col-sm-10">
                <button type="submit" value="Submit" class="btn btn-primary">Add Course</button>
              </div>
              
            </form>
            <% }else{ %>
            <!-- No course created -->
            <span class="task-title-sp">No courses added. Please add the courses from below.</span>
            
            <% } %>
            

          </ul>
        </div>
        <div class=" add-task-row">
          
          
        </div>
      </div>
    </section>
  </div><!--/col-md-12 -->
</div><!-- /row -->

<% if(clist[0]==undefined){ %>
<!-- No course created , add courses for first time-->
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
      <h4 class="mb"><i class="fa fa-angle-right"></i> Enter Course Names</h4>
      <form class="form-horizontal style-form" form action="./courseCreateAction" method="post">
       
        
        <div class="form-group">

          <div id="dynamicInput">
            <div id="1">
              <label class="col-sm-2 col-sm-2 control-label">Course 1</label>
              <div class="col-sm-10">
               <input type='text' class='form-control round-form' name='myInputs'><br>
             </div>
           </div>
           <div id="2">
            <label class="col-sm-2 col-sm-2 control-label">Course 2</label>
            <div class="col-sm-10">
              <input type='text' class='form-control round-form' name='myInputs'><br>
            </div>
          </div>
          <div id="3">
            <label class="col-sm-2 col-sm-2 control-label">Course 3</label>
            <div class="col-sm-10">
              <input type='text' class='form-control round-form' name='myInputs'><br>
            </div>
          </div>
        </div>
        <div class="col-sm-10">
          <button type="button" class="btn btn-success" onClick="addInput('dynamicInput');">Add more courses</button>
          
        </div>

      </div>
      <div class="form-group">
       <div class="col-sm-10">
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>    
</div>

<% } %>
</section><!-- wrapper end-->
</section><!-- main end -->

<% include ../partials/backend/footer.ejs %>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<!--script for this page-->

<script>
      //custom select box

      $(function(){
        $('select.styled').customSelect();
      });

    </script>

  </body>
  </html>
