<!DOCTYPE html>
<html lang="en">
<head>
 <!-- include backend header partial-->
 <% include ../partials/backend/head.ejs %>
</head>

<body>

  <section id="container" >
   <!-- include backend partials for sidear and top bar-->
   <% include ../partials/backend/header.ejs %>
   <% include ../partials/backend/sidebar.ejs %>
   <!-- main content start -->
   <section id="main-content">
   <!-- Wrapper start -->
    <section class="wrapper site-min-height">
     <h3><i class="fa fa-angle-right"></i> Vote Actions for <%=selectedCourse%></h3>
     <div class="row mt">
      <div class="col-lg-12">
        <div class="showback">
          <h4>&nbsp </h4>
          <form class="form-horizontal style-form" form action="./createpoll" method="post">
           <input type="hidden" value="<%=selectedCourse%>" name ="selcourse">

           <button type="submit" value="Submit" class="btn btn-primary btn-lg btn-block"> Create poll</button>
           <br>
         </form>
         <form class="form-horizontal style-form" form action="./polllist" method="post">
           <input type="hidden" value="<%=selectedCourse%>" name ="selcourse">

           <button type="submit" value="Submit" class="btn btn-default btn-lg btn-block"> View poll list</button>
           <br>
         </form>
         
       </div>
     </div>
   </div>
   
 </section><!-- wrapper end-->
</section><!-- Main content end-->

<% include ../partials/backend/footer.ejs %>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<!--script for this page-->

<script>
      //custom select box

      $(function(){
        $('select.styled').customSelect();
      });

    </script>

  </body>
  </html>
