<!DOCTYPE html>
<html lang="en">
<head>
 <!-- include backend header partial-->
 <% include ../partials/backend/head.ejs %>
 <script src="/socket.io/socket.io.js"></script>
</head>
<script>
  //Socket io funciton for timer
  var socket = io();
  socket.on(<%- JSON.stringify(selquestion) %>, function(msg){
    var scc = Math.round(msg);
    document.getElementById('timer').innerHTML="Time Remaining: "+scc;

  });
</script>
<body>

  <section id="container" >
  <!-- include backend partials for sidear and top bar-->
   <% include ../partials/backend/header.ejs %>
   <% include ../partials/backend/sidebar.ejs %>
   <!-- main content start -->
   <section id="main-content">
   <!-- Wrapper start -->
    <section class="wrapper site-min-height">
     <div class="row mt mb">
      <div class="col-md-12">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <!-- Show the current question-->
            <div class="pull-left"><h3><i class="fa fa-tasks"></i> <%=selquestion%></h3></div>
            <!-- Show the timer-->
            <div class="pull-right"><h3 id="timer"> </h3></div>
            <br>
          </div>
          <br>
          <div class="panel-body">
           <div class="task-content">
            <ul id="sortable" class="task-list">
             <form class="form-horizontal style-form" form action="./currentpoll" method="post">
               <% for(var i=0; i<choices.choices.length; i++) { %>
               <!-- Show the list of options-->
               <li class="list-primary">
                 
                
                <div class="task-title">
                  
                  <button type="submit" value="Submit" class="btn btn-default btn-lg btn-block"> <%=choices.choices[i].ctext %></button>
                  <br>
                  
                  
                  
                </div>
              </li>
              <%}%>
            </form>
            
            

          </ul>
        </div>
        
      </div>
    </section>
  </div>
</div>
</section><!-- wrapper end-->
</section><!-- Main content end -->

<% include ../partials/backend/footer.ejs %>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<!--script for this page-->

<script>
      //custom select box

      $(function(){
        $('select.styled').customSelect();
      });

    </script>

  </body>
  </html>
