<!DOCTYPE html>
<html lang="en">
<head>
 <!-- include backend header partial-->
 <% include ../partials/backend/head.ejs %>
</head>
<body>
<section id="container" >
   <!-- include backend partials for sidear and top bar-->
   <% include ../partials/backend/header.ejs %>
   <% include ../partials/backend/sidebar.ejs %>
   <!-- main content start -->
   <section id="main-content">
   <!-- Wrapper start -->
    <section class="wrapper site-min-height">
     <h3><i class="fa fa-angle-right"></i> Select a course to view a Poll</h3>
     <div class="row mt mb">
      <div class="col-md-12">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left"><h5><i class="fa fa-tasks"></i>Courses</h5></div>
            <br>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <!-- List of registered courses -->
              <ul id="sortable" class="task-list">
               <% if(sclist[0]!=undefined){ for(var i=0; i<sclist[0].scourses.length; i++) { %>
               <form class="form-horizontal style-form" form action="./polllist" method="post">
                <li class="list-primary">
                  <div class="task-title">
                   
                    <input type="hidden" value="<%=sclist[0].scourses[i].ctext %>" name ="selcourse">

                    <button type="submit" value="Submit" class="btn btn-default btn-lg btn-block"><%=sclist[0].scourses[i].ctext%></button>
                    <br>     
                  </div>
                  
                </li>
              </form> 
              <%} %>
              <br><br>
              
              <% }else{ %>
              <!-- If no courses are registered -->
              <span class="task-title-sp">No courses added. Please add the courses from below.</span>
              
              <% } %>
              

            </ul>
          </div>
          <div class=" add-task-row">
          </div>
        </div>
        <!-- Add /Register for more courses-->
        <div class="panel-heading">
          <div class="pull-left"><h5><i class="fa fa-tasks"></i>Add courses</h5></div>
          <br>
        </div>
        <div class="panel-body">
          <div class="task-content">
            <form class="form-horizontal style-form" form action="./registerCourseAction" method="post">
              <select class="form-control" name="coption">
                <% if(clist[0]!=undefined){for(var i=0; i<clist.length; i++) {  for(var j=0; j<clist[0].courses.length; j++) { %>
                
                <% var myij="myi"+i+"myj"+j %>
                <option value="<%=myij%>" ><%=clist[i].courses[j].ctext%></option>
                
                <%} %>
                <%} %>
                <%} %>
              </select>
              <br>    
              <button type="submit" value="Submit" class="btn btn-primary">Add Course</button>
              
            </form>
          </div>
          
        </div>

      </section>
    </div>
  </div>
  
</section><!-- wrapper end-->
</section><!--Main content end -->

<% include ../partials/backend/footer.ejs %>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<!--script for this page-->

<script>
      //custom select box

      $(function(){
        $('select.styled').customSelect();
      });

    </script>

  </body>
  </html>
