<!DOCTYPE html>
<html lang="en">
<head>
  <!-- include backend header partial-->
 <% include ../partials/backend/head.ejs %>
</head>

<body>

  <section id="container" >
   <!-- include backend partials for sidear and top bar-->
   <% include ../partials/backend/header.ejs %>
   <% include ../partials/backend/sidebar.ejs %>
   <!-- main content start -->
   <section id="main-content">
   <!-- Wrapper start -->
    <section class="wrapper site-min-height">
      <div class="row mt mb">
        <div class="col-md-12">
          <section class="task-panel tasks-widget">
            <div class="panel-heading">
              <!-- Display the heading list of polls for Course, get course info from Node -->
              <div class="pull-left"><h5><i class="fa fa-tasks"></i> List of Polls for <%= selectedCourse%></h5></div>
              <br>
            </div>
           
            <div class="panel-body">
              <div class="task-content">
                <ul id="sortable" class="task-list">
                 <!-- List of polls created-->
                 <% if(plist[0]!=undefined){for(var i=0; i<plist[0].polls.length; i++) { %>
                 <li class="list-primary">
                   <form class="form-horizontal style-form" form action="./currentpoll" method="post">
                    
                    <div class="task-title">
                     <input type="hidden" value="<%=plist[0].polls[i].question %>" name ="selquestion">
                     <input type="hidden" value="<%= selectedCourse%>" name ="selcourse">
                     <button type="submit" value="Submit" class="btn btn-default btn-lg btn-block"> <%=plist[0].polls[i].question %></button>
              
                   </div>
                 </form>
               </li>
               
               <%}%>
               <% } else{%>
               <!-- If no polls are created -->
               <li class="list-primary">
                
                
                <div class="task-title">
                  <span class="task-title-sp">No Polls created for <%= selectedCourse%>.  </span>
                  
                  
                </div>
              </li>
              
              <%}%>

            </ul>
          </div>
          
          
        </div>
      </section>
    </div>
  </div>
</section>
<!-- Wrapper end-->
</section>
<!-- main content end-->


<% include ../partials/backend/footer.ejs %>
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="assets/js/jquery.scrollTo.min.js"></script>
<script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


<!--common script for all pages-->
<script src="assets/js/common-scripts.js"></script>

<!--script for this page-->

<script>
      //custom select box

      $(function(){
        $('select.styled').customSelect();
      });

    </script>

  </body>
  </html>
